@import "_generals.scss";
@import "_mixin.scss";
@import "_variables.scss";
@import "_kyFrames.scss";
// sass --watch assets/scss/main.scss assets/css/style.css
// Header=====================================
header {
    padding: 2vh 0;
    background-color: #000;
    color: #fff;
    .line {
        text-align: center;
        img {
            height: 250px;
        }
    }
    .header-title {
        margin-top: 2vh;
        text-align: center;
        h2:nth-of-type(2) {
            position: relative;
            bottom: 35px;
            -webkit-text-stroke: 2px #fff;
            color: #000;
        }
        p {
            font-size: 1.5rem;
            font-family: 'Work Sans', sans-serif;
        }
    }
    .header-logo {
        @include flexit;
        padding: 10vh 6%;
        img {
            width: 70px;
        }
    }
}

// Main=====================================
// Sections----------------------------
.descriptionOne {
    // border: #fff solid 1px;
    background-color: #000;
    p {
        color: #fff;
        font-size: 10rem;
        font-family: LarishNeue;
        padding: 0 7%;
    }
}

.numbers {
    @include flexit;
    padding-bottom: 20vh;
    position: relative;
    top: -10px;
    background-color: #000;
    color: #fff;
    div {
        padding: 0 7%;
        h3 {
            margin: 2vh 0;
        }
        p {
            font-size: 10rem;
            font-family: LarishNeue;
        }
    }
    img {
        width: 40%;
        opacity: 9;
    }
}

.photos {
    padding: 30vh 0;
    position: relative;
    img:nth-of-type(1) {
        width: 25%;
        position: absolute;
        left: 70%;
        top: -8%;
    }
    img:nth-of-type(2) {
        width: 20%;
        position: absolute;
        left: 6%;
        top: 13%;
    }
    img:nth-of-type(3) {
        width: 20%;
        position: absolute;
        right: 0;
        bottom: 55%;
    }
    img:nth-of-type(4) {
        width: 25%;
        position: absolute;
        left: 9%;
        bottom: 45%;
    }
    img:nth-of-type(5) {
        width: 25%;
        position: absolute;
        left: 65%;
        bottom: 30%;
    }
    img:nth-of-type(6) {
        width: 20%;
        position: absolute;
        left: 3%;
        top: 73%;
    }
    img:nth-of-type(7) {
        width: 25%;
        position: absolute;
        left: 48%;
        top: 93%;
    }
    article {
        padding: 20vh 33% 40vh 33%;
        p {
            font-size: 1.7rem;
            font-family: 'Work Sans', sans-serif;
            line-height: 30px;
            ;
        }
    }
    .description {
        padding: 50vh 32% 5vh 38%;
        font-size: 1.7rem;
        font-family: 'Work Sans', sans-serif;
        line-height: 30px;
    }
}

.golden-bear {
    padding: 30vh 5% 4vh 5%;
    background: #000;
    color: #fff;
    span {
        font-size: 2rem;
    }
    article {
        @include flexit;
        margin-top: 3vh;
        padding-bottom: 3vh;
        div {
            padding: 0 5% 0 25%;
            p {
                font-size: 3.2rem;
                font-family: LarishNeue;
                margin-bottom: 2vh;
            }
        }
    }
    img:nth-of-type(1) {
        width: 60%;
        position: relative;
        left: 10%;
        bottom: -200px;
    }
    img:nth-of-type(2) {
        width: 30%;
        position: relative;
        left: -56px;
        bottom: -124px;
        z-index: 5;
    }
}

.poppy-bear {
    padding: 45vh 5% 4vh 5%;
    position: relative;
    overflow: hidden;
    span {
        font-size: 2rem;
    }
    article {
        @include flexit;
        margin-top: 3vh;
        padding-bottom: 3vh;
        div {
            padding: 0 5% 0 25%;
            p {
                font-size: 3.2rem;
                font-family: LarishNeue;
                margin-bottom: 2vh;
            }
        }
    }
    img:nth-of-type(1) {
        width: 30%;
        position: relative;
        left: 13%;
        bottom: 40px;
        z-index: 1;
    }
    img:nth-of-type(2) {
        width: 60%;
        position: relative;
        left: 6%;
        bottom: -70px;
    }
    img:nth-of-type(3) {
        width: 30%;
        position: absolute;
        top: -10%;
        right: -7%;
        animation: circle 10s linear infinite;
        transform: rotate(360deg);
    }
}

// Footer===========================
footer {
    margin-top: 20vh;
    padding: 20vh 6% 4vh 6%;
    background-color: #000;
    color: #fff;
    position: relative;
    overflow: hidden;
    p {
        font-size: 3.2rem;
        font-family: LarishNeue;
        margin-bottom: 2vh;
        padding: 4vh 61% 4vh 0;
    }
    .contact {
        padding: 15vh 0 0 0;
        @include flexit;
        p {
            font-size: 1rem;
            width: 350px;
            padding: 2vh 0;
        }
        ul {
            list-style: none;
            display: flex;
            gap: 10px;
            img {
                width: 20px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .social-media {
            p,
            span {
                font-size: 1.5rem;
            }
        }
    }
    .banner {
        transform: rotate(45deg);
        text-align: center;
        background-color: #fff;
        color: #000;
        font-size: 8rem;
        font-family: LarishNeue;
        position: absolute;
        width: 80vw;
        height: 100px;
        left: 35%;
        top: 30%;
        div {
            position: relative;
            animation: marquee 7s linear infinite;
        }
        span {
            -webkit-text-stroke: 2px #000;
            color: #fff;
        }
    }
}

@import"_mq.scss";